<h1>Mi Carrito</h1>
<div id="cart-list" class="product-list">
  {{#if cart.products.length}}
    {{#each cart.products}}
      <div class="product-card">
        <button class="remove-product-cart" data-id="{{product._id}}">x</button>
        <h3>{{product.title}}</h3>
        <div class="quantity-control">
          <button class="decrease-quantity" data-id="{{product._id}}">-</button>
          <span class="quantity">{{quantity}}</span>
          <button class="increase-quantity" data-id="{{product._id}}" data-stock="{{product.stock}}">+</button>
        </div>
      </div>
    {{/each}}
    <button id="empty-cart" class="empty-cart"><i class="fas fa-trash-alt"></i></button>
  {{else}}
    <p>Tu carrito está vacío</p>
  {{/if}}
</div>