<div class="container">
  <h1>PROYECTO BACKEND</h1>
  <p>Explora las diferentes funcionalidades de la aplicación:</p>
  <ul class="features-list">
    <li><a href="/realtimeproducts">TIENDA</a></li>
  </ul>
  <h2>Nuestros seleccionados</h2>
  <div class="product-list">
    {{#each products}}
      <div class="product-card">
        <h3>{{title}}</h3>
        <p>{{description}}</p>
        <p>Precio: ${{price}}</p>
        <button class="add-to-cart" data-id="{{_id}}" data-stock="{{stock}}">Agregar al Carrito</button>
      </div>
    {{/each}}
  </div>
  {{#if isAdmin}}
  <h2>Crear Nuevo Producto</h2>
  <form id="create-product-form">
    <div>
      <label for="title">Título:</label>
      <input type="text" id="title" name="title" required>
    </div>
    <div>
      <label for="description">Descripción:</label>
      <input type="text" id="description" name="description" required>
    </div>
    <div>
      <label for="code">Código:</label>
      <input type="text" id="code" name="code" required>
    </div>
    <div>
      <label for="price">Precio:</label>
      <input type="number" id="price" name="price" required>
    </div>
    <div>
      <label for="stock">Stock:</label>
      <input type="number" id="stock" name="stock" required>
    </div>
    <div>
      <label for="category">Categoría:</label>
      <input type="text" id="category" name="category" required>
    </div>
    <div>
      <label for="thumbnails">Thumbnails:</label>
      <input type="text" id="thumbnails" name="thumbnails" placeholder="http://example.com/image1.jpg, http://example.com/image2.jpg">
    </div>
    <button type="submit">Crear Producto</button>
  </form>
  {{/if}}
</div>